<div class="footer">
  <div class="footer_container container">
    <p>Книга является переводом работы <a href="http://www.doxsey.net">Caleb Doxsey</a> — <a href="http://www.golang-book.com">An introduction to programming in Go</a>, рспростроняемой на условиях <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons 3.0 Attribution License</a>. Перводчики: <a href="http://zenwalker.ru">Максим Полетаев</a>, <a href="http://github.com/rozaev">Виктор Розаев</a> и <a href="https://github.com/zenwalker/golang-book/graphs/contributors">другие</a>.</p>
  </div>
</div>

{% include counters.html %}
{% include ribbon.html %}
