<head>
  <meta charset="utf-8">
  <meta property="og:image" content="/img/cover.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} — {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic&subset=latin,cyrillic" rel="stylesheet">

  {% stylesheet main %}
  
  <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/darcula.min.css" type="text/css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="https://www.golang-book.com/public/img/favicon.ico"/>
</head>
