{% for chapter in site.book %}
  {% if chapter.url == page.url %}
    {% assign next = forloop.index0 | plus: 1 %}
    {% assign prev = forloop.index0 | minus: 1 %}
  {% endif %}
{% endfor %}

<div class="prevnext">
  {% if site.book[prev] %}
    <div class="prevnext_item -prev">&larr; <a href="{{ site.book[prev].url }}">{{ site.book[prev].title }}</a></div>
  {% endif %}

  {% if site.book[next] %}
    <div class="prevnext_item -next"><a href="{{ site.book[next].url }}">{{ site.book[next].title }}</a> &rarr;</div>
  {% endif %}
</div>
