@import "reset";
@import "typo";

.container {
  margin: 0 auto;
  max-width: 728px;
  padding-left: 100px;
  padding-right: 100px;

  @media screen and (max-width: 640px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.intro {
  margin-bottom: 50px;
}

  .intro_heading {
    margin-bottom: 0;
    line-height: 1;
  }

  .intro_author {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 10px;
  }

.chapters {
  margin-bottom: 50px;
}

.chapter {}

  .chapter_navs {
    margin-bottom: 15px;
  }

.download {
  margin-bottom: 50px;
}

  .download_wrapper {
    margin-bottom: 10px;
  }

  .download_btn {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border: 1px solid #2E6DA4;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    background: #337AB7;
    border-radius: 2px;
    margin-right: 10px;
    padding: 5px 15px;
    color: #FFF;

    &:hover {
      background: #2E6DA4;
      color: #FFF;
    }

    @media screen and (max-width: 640px) {
      margin-bottom: 10px;
      text-align: center;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


.content {
  padding-top: 30px;
  padding-bottom: 100px;

  @media screen and (max-width: 640px) {
    padding-bottom: 150px;
  }
}

.footer {
  border-top: 1px solid #ddd;
  position: absolute;
  font-size: 0.8rem;
  bottom: 0;
  right: 0;
  left: 0;
}

  .footer_container {
    padding-top: 10px;
    padding-bottom: 10px;
    p { margin-bottom: 0; }
  }

.prevnext {
  overflow: hidden;
}

  .prevnext_item {
    &.-prev {
      float: left;
    }
    &.-next {
      float: right;
    }
  }

.github-ribbon {
  @media screen and (max-width: 640px) {
    display: none;
  }
}

.footnotes {
  font-size: 0.9rem;
  padding: 20px 0;

  hr {
    display: none;
  }

  ol {
    margin-bottom: 0;
  }
}

.ads {
  box-shadow: 0 1px 1px rgba(0,0,0, 0.2);
  margin-bottom: 30px;
  text-align: center;

  @media screen and (max-width: 728px) {
    display: none;
  }
}
